/* General Styles */

html, body {
  min-height: 100vh;
  font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  background: #1a1918;
  overflow: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  margin: 0;
  flex-direction: column;
  display: flex;
  font-size: 60%;
}

body > *:not(header) {
  font-size: inherit;
}

html::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: #111;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.logo img {
  height: 70px;
  margin-right: 10px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.main-nav ul li {
  margin: 0 5px;
}

.main-nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.main-nav ul li a.active,
.main-nav ul li a:hover {
  color: #111;
  background: #d56114;
}

.menu-btn {
  display: none;
  position: fixed;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}


.menu-btn span, .menu-btn span:before, .menu-btn span:after {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.menu-btn span {
  top: 50%;
  margin-top: -2px;
}

.menu-btn span:before {
  content: '';
  top: -10px;
}

.menu-btn span:after {
  content: '';
  top: 10px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .menu-btn span {
  background: transparent;
}

input[type="checkbox"]:checked ~ .menu-btn span:before {
  transform: rotate(45deg);
  top: 0;
}

input[type="checkbox"]:checked ~ .menu-btn span:after {
  transform: rotate(-45deg);
  top: 0;
}

@media (max-width: 1000px) {
  header {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  .menu-btn {
    display: block;
  }

  .main-nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked ~ .main-nav ul {
    left: 0;
  }

  .main-nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  .main-nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked ~ .main-nav ul li a {
    margin-left: 0px;
  }

  .main-nav ul li a.active,
  .main-nav ul li a:hover {
    background: none;
    color: #d56114;
  }
}

.home {
  padding: 2rem 9%;
  margin-top: 80px;
}

.home .slide-container {
  display: block;
}

.home .slide {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.slide-content {
  flex: 1 1 40rem;
  animation: slideContent .3s linear 1s backwards;
}

.slide-image {
  flex: 1 1 50rem;
  padding-bottom: 15rem;
  position: relative;
  z-index: 0;
}

.product-image {
  width: 100%;
  transform: rotate(-10deg);
  animation: product .3s linear;
}

@keyframes product {
  0% {
      transform: rotate(0deg) scale(.5);
  }
}

.slide-content h1 {
  font-size: 3rem;
  color: orangered;
}

.slide-content h2 {
  font-size: 2rem;
  color: #ffffff;
}

.slide-content h3 {
  font-size: 1.5rem;
  color: #ffffff;
}

.slide-content p {
  font-size: 1.2rem;
  color: #61a2ed;
  padding: .5rem 0;
}

.btn-call {
  display: inline-block;
  margin-top: 1rem;
  border-radius: .5rem;
  border: .2rem solid #ee5d5d;
  font-weight: bolder;
  font-size: 1.7rem;
  color: #d7790d;
  cursor: pointer;
  background: #242424;
  padding: .8rem 3rem;
  transition: background-color .3s ease-in-out;
}

.btn-call:hover {
  background-color: #2f2f2f;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;
}
.about-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}
.about-text-column, .about-image-column {
  flex-basis: calc(50% - 20px);
}
.about-logo {
  color: #fac93a;
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
}
.about-tagline {
  color: #ffffff;
  font-size: 18px;
  margin-top: 10px;
}
.responsive-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-top: 20px;
}
.about-text {
  font-size: 16px;
  margin-top: 20px;
  color: #ffffff;
  line-height: 1.5;
}

.services-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;
}
.services-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}
.services-text-column, .services-image-column {
  flex-basis: calc(50% - 20px);
}
.services-logo {
  color: #fac93a;
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
}
.services-tagline {
  color: #666;
  font-size: 18px;
  margin-top: 10px;
  color: #ffffff;
}

.services-text {
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.5;
  color: #ffffff;
}

.services-text ul {
  list-style-type: none;
  padding: 0;
}

.services-text ul li {
  margin-bottom: 10px; /* Optional: Adds space between list items */
}


@media screen and (max-width: 767px) {
  .about-text-column, .about-image-column {
      flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .services-text-column, .services-image-column {
      flex-basis: 100%;
  }
}

.text-center {
  text-align: center;
}

.footer {
  background: rgba(18, 18, 18, 0.8);
  backdrop-filter: blur(10px);
  color: #333;
  padding: 40px 0;
  font-family: "Muli", sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  text-align: center;
}

.footer-column h3, .footer-column h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ff4500;
}

.footer-column p {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.5;
}

.widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget li {
  margin-bottom: 10px;
}

.widget a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.widget a:hover {
  color: #ff4500;
}

.footer-bottom {
  margin-top: 40px;
}

.footer-bottom hr {
  border-color: #ddd;
  margin-bottom: 20px;
}

.footer-bottom p {
  color: #ffffff;
  font-size: 14px;
  margin: 0;
}

@media screen and (max-width: 970px) {
  .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  .footer-column {
      flex-basis: 100%;
  }
  .footer-column h3, .footer-column h4 {
      text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .services-text-column, .services-image-column {
      flex-basis: 100%;
      text-align: center;
  }
  .services-text {
      text-align: center;
      margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .services-text-column, .services-image-column {
      flex-basis: 100%;
  }
}
